{if $item.type == "ei" && "electronic_invoice.details&request_id=`$item.content.id`"|fn_url}
    {if $item.content.id}<a href="{"electronic_invoice.details&request_id=`$item.content.id`"|fn_url}">{/if}{$item.content.ei}{if $item.content.id}</a>{/if}<br>
{/if}